.showcase.mn-layout.mn-layout-fullscreen.mn-layout-centered
  main.demo
    mn-input-number(
      label='integer number'
    )

    mn-input-number(
      label='float with precision 3'
      precision='3'
    )

    mn-input-number(
      label='money'
      currency
    )

    mn-input-number(
      label='percentage'
      percentage
    )
